table {
	border-collapse: collapse;
	padding: 0px;
}

td {
	padding: 0px;
}

button {

}


#mainSquare {
	display: flex;
}

#test {
	height: 200px;
	width: 200px;
	background-color: blue;
	padding: 0px;
}

.squares {
	height: 50px;
	width: 50px;
	background-color: black;
	padding: 0px;
}

.hoveredSquares {
	height: 50px;
	width: 50px;
	background-color: #666;
	padding: 0px;
}