table {
	border-collapse: collapse;
	padding: 0px;
}

td {
	padding: 0px;
}

#mainSquare {
	display: flex;
}

.squares {
	height: 50px;
	width: 50px;
	background-color: black;
	padding: 0px;
}

.hoveredSquares {
	height: 50px;
	width: 50px;
	background-color: white;
	padding: 0px;
}